# dependencies already stored in package.json and requirements.txt
.serverless
.requirements
__pycache__
node_modules
venv

# don't upload environment variables
.env
aws_access_keys.txt

# development environment settings
.vscode

# gsheets authentication
credentials.json
token.pickle